* { margin: 0; padding:0; font-size: 1rem; font-family: sans-serif; }
body { background-color: rgb(30,30,30); }
.errorMSG { color: white; font-size: 1.5rem; display: block; }

/* 
Benutzerverwaltung
*/

#container { width: 65%;min-width: 350px;margin-left:auto;margin-right:auto;padding: 20px;}

.container-small {border: 1px solid white;padding: 10px;}
.container-headline { width: 100%; display: flex; flex-wrap: nowrap; }
.container-headline h3 { width: auto; min-width: 50px; max-width: 200px; overflow: hidden; color: white; font-size: 1.5rem; }
.container-headline img { margin-left: 10px; margin-top: -7px; width: 3%; color: green; 
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); }
.container-livesearch {border: 1px solid white;display: flex;flex-wrap: wrap;padding: 20px;}

.m-flex-wrap { display: flex;flex-wrap: wrap; }

#cs1 .m-flex-wrap { margin-top: 20px; margin-bottom: 10px; }
#cs2 .m-flex-wrap { margin-top: 20px; margin-bottom: 10px; }
#cs3 .m-flex-wrap { margin-top: 20px; margin-bottom: 10px; }
#cs4 .m-flex-wrap { margin-top: 20px; margin-bottom: 10px; }
#cs5 .m-flex-wrap { margin-top: 20px; margin-bottom: 10px; }
#cs6 .m-flex-wrap { margin-top: 20px; margin-bottom: 10px; }

.m-textbox {width: auto;max-width: 240px;display: flex;flex-wrap: wrap;margin: 10px 0px 10px 0px;margin-left: auto;margin-right: auto;}
.m-textbox label {font-weight: 100;color: white;margin-bottom: 5px;padding-left: 5px;}
.m-textbox input {background-color: transparent;border: 1px solid darkgray;color: white;padding: 4px 2px 4px 15px;border-radius: 10px;}
#m-textarea { resize: none; outline: none; padding: 5px; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto; 
  width: 80%; display: block; height: 20%; min-height: 80px; max-height: 300px; background-color: rgb(30,30,30); color: white;}

.m-livesearch {width: auto;max-width: 250px;display: flex;flex-wrap: wrap;margin-left: auto;margin-right: auto;padding-bottom: 50px;}
.m-livesearch label {font-weight: 100;color: white;margin-bottom: 5px;padding-left: 2px;}
.m-livesearch input {background-color: transparent;border: 1px solid darkgray;color: white;padding: 4px 10px 4px 10px;max-width: 230px;}
#livesearch {display: block;width: 100%;color: white;overflow: auto;margin-top: 0px;background-color: rgb(20,20,20);}
#livesearch a { display: block; text-align: center; cursor: pointer; width: 100%; margin: 5px 0px 5px 0px; font-size: 1.2rem; }

.m-dropdown {width: auto;max-width: 240px;display: flex;flex-wrap: wrap;margin: 10px 0px 10px 0px;margin-left: auto;margin-right: auto;}
.m-dropdown label {font-weight: 100;color: white;margin-bottom: 5px;padding-left: 5px;width: 100%;}
.m-dropdown select {background-color: transparent;border: 1px solid darkgray;color: white;padding: 2px 2px 2px 15px;border-radius: 10px;width: 200px;}
.m-dropdown select option {background-color: rgb(30,30,30);}
.m-checkbox {display: flex;flex-wrap: wrap; margin: 15px 10px 15px 10px;}

#cs4 .m-checkbox { padding-top: 22px; margin-right: 10%; }

#cb_gruppen {padding: 5px;}
.cb { color: white; display: flex;flex-wrap: wrap;width: auto;height: 20px;margin-left: auto;margin-right: auto;padding: 2px 5px 2px 5px;}
.cb label {font-weight: 100;color: white;padding-right: 10px;}
#cb_lizenz {margin-left: auto;margin-right: auto;width: 75%;}

.container-buttons { display: flex; flex-wrap: nowrap; padding: 20px; margin: 50px 0px 50px 0px; }
.container-buttons button {margin-left: auto;margin-right: auto;width: 160px;padding: 5px 0px 5px 0px;cursor: pointer;border-radius: 5px;color: white;transition: 0.5s;}

#bt_zs {background-color: red;border: 1px solid darkred;} 
#bt_zs:hover { opacity: 0.8; }
#bt_en {background-color: green;border: 1px solid green;}
#bt_en:hover { opacity: 0.8; }
#bt_link {background-color: #00b4d8;border: 1px solid #00b4d8;}
#bt_link:hover { opacity: 0.8; }

.navigation {color: white;width: 100%;min-width: 300px;margin-bottom: 10px;}

.navigation ul {list-style: none;text-decoration: none;display: flex;flex-wrap: nowrap;width: 400px;margin-left: auto;margin-right: auto; margin-bottom: 30px;}
.navigation ul li {margin-left: auto;margin-right: auto;padding: 2px;width: 120px;text-align: center;cursor: pointer;transition: 0.5s;border: 1px solid darkgray;}

.navigation ul li:hover {border: 1px solid white;color: darkgray;}
.currentNav {background-color: rgba(230,230,230,0.3);}

.ul-remove {display: flex;flex-direction: row;text-decoration: none;list-style: none;margin-right: auto;color: white;}
.ul-remove li { width: auto; text-align: left; margin-right: 25px; font-size: 1.2rem;}
.button-deactivate { background-color: #3f37c9; border: 1px solid #3f37c9; color: white; width: 130px; padding: 5px; margin-right: 10px; cursor: pointer; transition: 0.5s;}
.button-deactivate:hover { background-color: #3a0ca3; }
.button-activate { background-color: #2b9348; border: 1px solid #2b9348; color: white; width: 130px; padding: 5px; margin-right: 10px; cursor: pointer; transition: 0.5s;}
.button-activate:hover { background-color: #007f5f; }

.button-remove { background-color: #d62828; border: 1px solid #d62828; color: white; width: 130px; padding: 5px; margin-right: 10px; cursor: pointer; transition: 0.5s;}
.button-remove:hover { background-color: #9a031e; }


.container-end {width: 40%;margin-left: auto; margin-right: auto; color: white;}
.container-end h2 { font-size: 1.3rem; padding: 5px; margin: 50px 0px 15px 0px; }
.container-end h4 { font-size: 1.3rem; padding: 5px; margin-top: 20px; text-align: center; }
.container-end input { width: 300px; padding: 5px; color: white; background-color: rgb(30,30,30); border: 0; outline: none; }
.container-end button { background-color: #2b9348; border: 1px solid #2b9348; color: white; 
  width: 130px; padding: 5px; margin-left: 10px; cursor: pointer; transition: 0.5s; }



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 25px;
  margin-top: -3px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}